{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>MMM</title>
    <link href="https://d1a3f4spazzrp4.cloudfront.net/uber-fonts/4.0.0/superfine.css" rel="stylesheet">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css" rel="stylesheet">
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .side-panel--container {
            visibility: hidden;
        }

        .split-map {
            visibility: hidden;
        }
    </style>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="root" style="height: 100%"></div>
<script src="{% static "index.js" %}"></script>
</body>
</html>
